
    .headed-text{
      font-size: 14px;
    }
    .headed-card{
      height: 80px;
    }
    .news-icons{
    margin-left: 20px;
}
    .iba-area{
    width: 230px;
    height: 110px;
    }
    .iba{
      width: 100%;
      height: 100%;
    }
    .aaj-news-area{
    width: 150px;
    height: 110px;
    }
    .aaj-news{
      width: 100%;
      height: 100%;
    }

    .down-news-area{
      width: 150px;
    height: 110px;
    }
    .down-news{
      width: 100%;
      height: 100%;
    }
    .mills-area{
      width: 150px;
    height: 110px;
    }
    .mills{
      width: 100%;
      height: 100%;
    }
    .nafa-area{
      width: 150px;
    height: 110px;
    }
    .nafa{
      width: 100%;
      height: 100%;
    }
    .terapak-area{
      width: 150px;
    height: 110px;
    }
    .terapak{
      width: 100%;
      height: 100%;
    }

    .tapal-area{
      width: 150px;
    height: 110px;
    }
    .tapal{
      width: 100%;
      height: 100%;
    }
    .alhabib-area{
      width: 150px;
    height: 110px;
    }
    .alhabib{
      width: 100%;
      height: 100%;
    }
  
.business-services-content{
  width: 75%;
  /* float: left; */
}
.content{
  display: flex;
}
.nav-tabs .nav-item .nav-link{
color: black;

}
.nav-tabs  li{
font-size: 12px;
margin-left: 5px;
}
.nav-tabs{
  border: none;
}
.nav-tabs button{
  border: 1px solid rgba(0,0,0,.125) !important;
}
.nav-tabs .active{
  border: 1px solid rgba(0,0,0,.125) !important;
  background-color: rgba(84, 121, 36, 0.8) !important; /* 0.5 for 50% opacity */
color: white !important;
border-radius: 5px !important;
}

.nav-tabs button:hover{
  border: 1px solid rgba(0,0,0,.125);
  background-color: rgba(84, 121, 36); /* 0.5 for 50% opacity */
color: white !important;
border-radius:5px;
}

.top-picks{
  height: 400px;
  width: 288px;
  padding-left: 19px;
  position: sticky !important;
  top: 20px !important;
  /* margin-left: 50px; */
  margin-bottom: 300px !important;
}
.top-pickss{
  margin-bottom: 500px;
}

/* @media screen and (max-width:1024px) and (min-width:600px){
  .top-picks{
    height: 400px;
    width: 288px;
top: 10px !important;


  }
  .nav .nav-tabs{
    width: 100% !important;
    
  }
 
} */


/* @media screen and (max-width:576px){
  .top-picks{
    height: 400px;
    width: 288px;
top: 10px !important;
position: relative !important;

  } */

  /* .content{
    display: block !important;

  }
  .business-services-content{
    width: 100% !important;
  }
  .nav .nav-tabs{ */
    /* width: 100% !important; */
    /* float: left !important; */
  /* }
 
} */


.checkmark-li-list ul{
list-style-type: none;
font-size: 15px;
}

.checkmark-li-list ul li::before{
  content: "\2713";
  display: inline-block;
  margin-right: 10px;
  color: green;
  font-weight: bolder;
  line-height: 30px;
  }

  .request-for-call{
    border: 1px solid rgba(0,0,0,.125);
  background-color: rgba(84, 121, 36, 0.8); /* 0.5 for 50% opacity */
color: white;
border-radius: 5px;
  }

  .request-for-call:hover{
    border: 1px solid rgba(0,0,0,.125);
  background-color: rgba(84, 121, 36); /* 0.5 for 50% opacity */
color: white;
border-radius:5px;
  }
/* .width-setting{
  width: 68%;
} */
.whatsapp-icon{
  height: 25px;
} 
.whatsapp-icon-btn{
  border: 1px solid rgba(0,0,0,.125);
} 
